<div class="card project-new-card">
  <div class="card-header">
    新しいカラムを作成
  </div>
  <div class="card-body">
    <%= form_for @column, url: "/column/create?project_id=#{@column.project_id}", html: {class: 'form-horizontal'} do |f| %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
      <p> カラム名</p>
      <%= f.text_field :title, class: 'form-control' %>
      <p><button type="submit" class="btn btn-primary">作成</button></p>
    <% end %>
  </div>
</div>
