<div class="card" id="login-index-card" style="width: 18rem;">
<div class="card-header">
    ログイン・新規作成
  </div>
  <div class="card-body">
    <p><a href="/users/sign_in" class="btn btn-primary">Facebook</a></p>
    <p><a href="#" class="btn btn-primary">Twitter</a></p>
    <p><a href="#" class="btn btn-primary">Github</a></p>
  </div>
</div>