<div class="card-deck">
  <a class="card root-index-card" href='#'>
    <div class="card-body">
      <h4 class="card-title">新しいプロジェクトを作る</h4>
    </div>
  </a>
  <a class="card root-index-card" href='#'>
    <div class="card-body">
      <h4 class="card-title">プロジェクト1</h4>
    </div>
  </a>
  <a class="card root-index-card" href='#'>
    <div class="card-body">
      <h4 class="card-title">プロジェクト2</h4>
    </div>
  </a>
</div>

<div class="card-deck">
  <a class="card root-index-card" href='#'>
    <div class="card-body">
      <h4 class="card-title">プロジェクト3</h4>
    </div>
  </a>

  <a class="card root-index-card" href='#'>
    <div class="card-body">
      <h4 class="card-title">プロジェクト4</h4>
    </div>
  </a>

  <a class="card root-index-card" href='#'>
    <div class="card-body">
      <h4 class="card-title">プロジェクト5</h4>
    </div>
  </a>
</div>

<div class="card-deck">
  <a class="card root-index-card" href='#'>
    <div class="card-body">
      <h4 class="card-title">プロジェクト6</h4>
    </div>
  </a>

  <a class="card root-index-card" href='#'>
    <div class="card-body">
      <h4 class="card-title">プロジェクト7</h4>
    </div>
  </a>
</div>

<button type="button" class="btn btn-primary btn-lg btn-block" id='see-more'>もっと見る</button>