<div id="mypage-index-form">
  <div class="row">
    <div class="col-5">
        <img src="/img/ruby.jpg" alt="..." class="rounded-circle mypage-index-img">
    </div>
    <div class="col-7">
      <div class="form-group">
        <form>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="名前">
          <input type="file" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </form>     
      </div>
      <p><button type="submit" class="btn btn-primary">更新</button></p>
      <%= button_to 'ログアウト', destroy_user_session_path, :class => 'btn btn-primary', method: :delete %>
      <button type="submit" class="btn btn-primary">退会</button>
    </div>
  </div>
</div>